<div class = "title-top">
	<h2>オーナー情報</h2>
</div><br>

<%= form_with model: @owner, url: {controller: 'owner/owners', action: 'update' },lacal: true do |f| %>
	<div class = "row-form">
    	<%= f.label :name, "担当者様名" %><br>
    	<%= f.text_field :name, class: "col-lg-6" %>
	</div><br>

	<div class = "row-form">
    	<%= f.label :email, "メールアドレス" %><br>
    	<%= f.email_field :email, class: "col-lg-6" %>
	</div><br>

	<div class = "row-action">
		<%= f.submit "変更する", class: "btn btn-flat-double-border col-lg-6 col-8" %>
	</div>
<% end %>