<div class = "title-top">
	<h2>予約者様情報</h2><br>
</div>

<div class = "reservation-remind">
	<p>記載の電話番号にご連絡いただき、予約時間の確認及び予約確定のご連絡をお願いいたします。</p>
</div>

<% if @reservations.blank? %>
	 <div class = "reservation">
		  <p>現在予約はありません。</p>
	 </div>
<% end %>

<div class="row">
    <% @reservations.each do |reservation| %>
        <div class="card border-dark col-lg-4 col-sm-12 col-12">
            <div class="card-body offset-1">
                <h5 class="card-title">名前:<%= reservation.user.name %>様</h5><hr>
            	  <div class="card-text">フリガナ:<%= reservation.user.kana_name %><br><hr>電話番号:<%= reservation.user.phone_number %><br><hr>予約サロン名:<%= reservation.salon.salon_name %><br><hr>予約時間:<%= reservation.date.strftime("%Y年%m月%d日%H時%M分") %></div>
            </div>
        </div>
    <% end %>
</div>