<div class = "row">
	<h1 class = "offset-2">過去の予約者様情報</h1><br>
</div>

<% if @reservations.blank? %>
	<div class = "row">
		<div class = "offset-4">過去の予約はありません。</div>
	</div>
<% end %>
	
<div class="row row-cols-1 row-cols-md-4">
  <% @reservations.each do |reservation| %>
      <div class="card border-dark">
          <div class="card-body offset-3">
            <h5 class="card-title">名前:<%= reservation.user.name %>様</h5>
            	<div class="card-text">フリガナ:<%= reservation.user.kana_name %><br>電話番号:<%= reservation.user.phone_number %><br>予約サロン名:<%= reservation.salon.salon_name %><br>予約時間:<%= reservation.date %></div>
          </div>
      </div>
  <% end %>
</div>