<h1>お気に入り一覧</h1>

<table>
<% @user.salons.each do |salon| %>
	<tr>
  		<td><%= attachment_image_tag salon, :salon_image, format: 'jpg', size: "400x400" %></td>
  	</tr>
	
	<tr>
		<td><%= salon.salon_name%></td>
	</tr>

	<tr>
		<td>住所:<%= salon.postal_code %><%= salon.address %></td>
	</tr>

	<tr>
		<td>値段:<%= salon.price %></td>
	</tr>

	<tr>
		<td>その他<%= salon.explanation %></td>
	</tr>
<% end %>
</table>
