<div class = "row">
<h2 class = "col-md-3 offset-4">ログイン</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <%= f.label :email, "メールアドレス", class: "col-md-1 offset-4" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-3" %>
  </div><br>

  <div class="row">
    <%= f.label :password, "パスワード", class: "col-md-1 offset-4"  %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-md-3" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="row">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row-action">
    <%= f.submit "ログイン", class: "btn btn-info col-md-3 offset-5" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
