<div class = "row">
<h2 class = "offset-4">オーナーアカウント登録</h2>
</div><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row"><%= f.label :name, "担当者様名", class: "offset-4" %></div>
  <div class="row"><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-4 offset-4" %></div><br>

  <div class="row"><%= f.label :email, "メールアドレス", class: "offset-4" %></div>
  <div class="row"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4 offset-4" %></div><br>

  <div class="row">
    <%= f.label :password, "パスワード", class: "offset-4" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></div>
  <div class="row">
    <%= f.password_field :password, autocomplete: "new-password", class: "col-md-4 offset-4" %>
  </div><br>

  <div class="row"><%= f.label :password_confirmation, "パスワード確認用", class: "offset-4" %></div>
  <div class="row"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-4 offset-4" %></div><br>

  <div class="row-action">
    <%= f.submit "新規登録", class: "btn btn-info col-md-4 offset-4" %>
  </div>
<% end %>
