<div class = "title-top">
	 <h2>予約サロン一覧</h2>
</div>

<% if @reservations.blank? %>
	 <div class = "row">
	 	   <div class = "offset-5">現在予約はありません。</div>
	 </div>
<% end %>

<div class="row">
    <% @reservations.each do |reservation| %>
        <div class="card border-dark col-lg-4 col-sm-12">
            <%= attachment_image_tag reservation.salon, :salon_image, format: 'jpg', class: "salon-img offset-lg-1 offset-sm-0 offset-1" %>
                <div class="card-body">
                    <h3 class="card-title"><%= link_to reservation.salon.salon_name, user_salon_path(reservation.salon) %></h3><hr>
                    <p class="card-text"><i class="fas fa-store"></i>住所:〒<%= reservation.salon.postal_code %><%= reservation.salon.prefecture_code %><%= reservation.salon.address %></p><hr>
                    <p><i class="fas fa-train"></i>最寄り駅:<%= reservation.salon.station %></p><hr>
                    <p><i class="fas fa-yen-sign"></i>値段(月極):<%= reservation.salon.price %></p><hr>
                    <p><i class="fas fa-chair"></i>貸出座席数:<%= reservation.salon.seat_number %></p><hr>
                    <p>その他:<%= reservation.salon.explanation %></p><hr>
                    <p>予約時間:<%= reservation.date.strftime("%Y年%m月%d日%H時%M分") %></p>
                </div>
        </div>
    <% end %>
</div>




