<div class = "row">
	<h1 class = "offset-2">予約サロン一覧</h1>
</div>

<% if @reservations.blank? %>
	<div class = "row">
		<div class = "offset-4">現在予約はありません。</div>
	</div>
<% end %>

<div class="row row-cols-1 row-cols-md-3">
  <% @reservations.each do |reservation| %>
      <div class="card border-dark">
        <%= attachment_image_tag reservation.salon, :salon_image, format: 'jpg', size: "400x400", class: "offset-2" %>
          <div class="card-body offset-2">
            <h3 class="card-title"><%= link_to reservation.salon.salon_name, user_salon_path(reservation.salon) %></h3>
            <h5 class="card-text"><i class="fas fa-store"></i>住所:〒<%= reservation.salon.postal_code %><%= reservation.salon.prefecture_code %><%= reservation.salon.address %></h5>
            <h5><i class="fas fa-train"></i>最寄り駅:<%= reservation.salon.station %></h5>
            <p>値段(月極):<%= reservation.salon.price %><br>
               貸出座席数:<%= reservation.salon.seat_number %><br>
               その他:<%= reservation.salon.explanation %><br>
           	   予約時間:<%= reservation.date %></p>
          </div>
      </div>
  <% end %>
</div>


