<div class = "row">
    <h1 class = "col-md-2 offset-5">サロン一覧</h1>
</div><br>

<!-- 検索フォーム -->
<%= search_form_for @q, url: user_salons_path do |f| %>
    <fieldset style="width: 90%; padding: 15px; margin-bottom: 15px; margin-left: 95px; border: 7px double black; border-radius: 15px; ">
        <legend><i class="fa fa-search" aria-hidden="true"></i>検索</legend>
        <tr class ="row">
            <%= f.label :prefecture_code, "エリア", class: "col-md-1 offset-3" %>
        <!-- last=都道府県　first=id -->
            <%= f.collection_select(:prefecture_code_eq, Salon.prefecture_codes, :last,:first, class: "col-md-3") %><br>

            <%= f.label :station, "最寄り駅", class: "col-md-1 offset-3" %>
            <%= f.search_field :station_cont, class: "col-md-3" %><br><br>

            <%= f.submit "検索", class: "col-md-3 offset-4 btn btn-flat-double-border" %>
        </tr>
  </fieldset>
<% end %><br><br>

<div class="row row-cols-lg-3 row-cols-xs-1">
  <% @salons.each do |salon| %>
      <div class="card border-dark">
        <%= attachment_image_tag salon, :salon_image, format: 'jpg', size: "400x400", class: "offset-2" %>
          <div class="card-body offset-2">
            <h3 class="card-title"><%=link_to salon.salon_name, user_salon_path(salon), :style=>"color:black;" %></h3><hr>
            <p class="card-text"><i class="fas fa-store"></i>住所:〒<%= salon.postal_code %><%= salon.prefecture_code %><%= salon.address %></p><hr>
            <p><i class="fas fa-train"></i>最寄り駅:<%= salon.station %></p><hr>
            <p><i class="fas fa-yen-sign"></i>値段(月極):<%= salon.price %></p><hr>
            <p><i class="fas fa-chair"></i>貸出座席数:<%= salon.seat_number %></p><hr>
            <p>その他:<%= salon.explanation %></p>
          </div>
      </div>
  <% end %>
</div><br>

<div class = "paginate">
    <div class = "offset-5">
        <%= paginate @salons %>
    </div>
</div>



