<h1>salon一覧</h1>

<%= search_form_for @q, url: user_salons_path do |f| %>
  <%= f.label :salon_name, "Keyword" %>
  <%= f.search_field :salon_name_cont %>
  <%= f.submit "検索" %>
<% end %>

<table>
  <% @salons.each do |salon| %>
  	<tr>
  		<td><%= attachment_image_tag salon, :salon_image, format: 'jpg', size: "400x400" %></td>
  	</tr>

	<tr>
		<td><%= link_to salon.salon_name, user_salon_path(salon) %></td>
	</tr>

	<tr>
		<td>住所:<%= salon.postal_code %><%= salon.address %></td>
	</tr>

	<tr>
		<td>値段:<%= salon.price %></td>
	</tr>

	<tr>
		<td>その他<%= salon.explanation %></td>
	</tr>
  <% end %>
</table>

