<h1>salon詳細</h1>

<table>
  	<tr>
  		<td><%= attachment_image_tag @salon, :salon_image, format: 'jpg' %></td>
  	</tr>

	<tr>
		<td><%= @salon.salon_name %></td>
	</tr>

	<tr>
		<td>〒<%= @salon.postal_code %></td>
	</tr>

	<tr>
		<td><%= @salon.address %></td>
	</tr>

	<tr>
		<td>値段:<%= @salon.price %></td>
	</tr>

	<tr>
		<td>その他:<%= @salon.explanation %></td>
	</tr>
</table>

<!-- map表示ここから -->
<div id='map' class="<%= @salon.address %>"></div>
<style>
#map{
  height: 600px;
  width: 50%;
}
</style>

<script>
// mapを関数の外で定義(codeAddressでも使うため)geocoderを用意
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
　　　　　　　　　　　　
	  //google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;
  // geocodingしたあとmapを移動
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK4-e6C4U9nNBgu0hPvMkoB4SoRqDaRrI&callback=initMap" async defer></script><br>
<!-- map表示ここまで -->

<!-- お気に入り有無によって表示ボタンを分岐 -->
<% if !Favorite.exists?(user_id:current_user.id,salon_id:@salon.id) %>
  <%= link_to "お気に入りへ登録", user_salon_favorites_path(@salon), method: :post, class: "btn btn-primary" %>
<% else %>
  <%= link_to "お気に入り解除", user_salon_favorite_path(@salon), method: :delete,class: "btn btn-danger" %>
<% end %>

<%= link_to "一覧へ戻る", user_salons_path, class: "btn btn-primary" %>
<%= link_to "見学予約", "#", class: "btn btn-primary" %>
