<div class = "row">
  <h1 class = "offset-3">サロン詳細</h1>
</div>

  <div class = "row">
    <div class = "col-md-2 offset-3"><%= attachment_image_tag @salon, :salon_image, format: 'jpg', size: "400x400" %></div>

    <div class = "col-md-4 offset-2">
		  <h3><%= @salon.salon_name %></h3>
      <h5>住所:〒<%= @salon.postal_code %><%= @salon.prefecture_code %><%= @salon.address %></h5>
      <h5>最寄駅:<%= @salon.station %></h5>
      <p>値段:<%= @salon.price %><br>
      貸出座席数:<%= @salon.seat_number %><br>
      その他:<%= @salon.explanation %></p>
    </div>
	</div><br>

  <!-- 予約済みの場合、予約フォームは出さないように分岐。過去の日付で予約できないようにしたい -->
<% if !Reservation.exists?(user_id:current_user.id,salon_id:@salon.id) %>
  <%= form_with model: @reservation, url: user_salon_reservations_path(@salon), method: :post, local: true do |f| %>
    <%= f.hidden_field :salon_id, value: @salon.id %>
      <div class = "row">
        <%= f.label :date, "見学日", class: "col-md-1 offset-3" %>
      </div>
      <div class = "row">
        <%= f.datetime_field :date, class: "col-md-3 offset-3" %>
      </div><br>

      <div class = "row-action">
        <%= f.submit "見学予約", class: "btn btn-info col-md-3 offset-3" %>
      </div><br>
  <% end %>

<% else %>

      <div class = "row">
        <div class = "btn btn-danger col-md-3 offset-3">見学または予約済み</div>
      </div><br>
<% end %>


<!-- map表示ここから -->
<div id='map' class="<%= @salon.address %>"></div>
<style>
#map{
  height: 600px;
  width: 50%;
  margin-left: 450px;
}
</style>

<script>
// mapを関数の外で定義(codeAddressでも使うため)geocoderを用意
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
　　　　　　　　　　　　
	  //google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;
  // geocodingしたあとmapを移動
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK4-e6C4U9nNBgu0hPvMkoB4SoRqDaRrI&callback=initMap" async defer></script><br>
<!-- map表示ここまで -->

<!-- お気に入り有無によって表示ボタンを分岐 -->
<div class = "row">
  <% if !Favorite.exists?(user_id:current_user.id,salon_id:@salon.id) %>
    <%= link_to "お気に入りへ登録", user_salon_favorites_path(@salon), method: :post, class: "btn btn-info col-md-2 offset-3" %>
  <% else %>
    <%= link_to "お気に入り解除", user_salon_favorite_path(@salon), method: :delete,class: "btn btn-danger col-md-2 offset-3" %>
  <% end %>

  <%= link_to "一覧へ戻る", user_salons_path, class: "btn btn-info col-md-2 offset-1" %>
</div>


