<div class = "img-top">
    <%= image_tag 'salon3.jpg', class: "img-content" %>
</div><br>

<div class = "row">
	 <h2 class = "col-lg-4 offset-5">取り扱いサロン一覧</h2>
</div><br>

<!-- ランダムで6つのサロンを表示 -->
<div class="row row-cols-lg-3 row-cols-xs-1">
    <% @salons.shuffle.first(6).each do |salon| %>
        <div class="card border-dark">
            <%= attachment_image_tag salon, :salon_image, format: 'jpg', class: "salon-img offset-2" %>
                <div class="card-body offset-2">
                    <h3 class="card-title"><%= salon.salon_name %></h3><hr>
                    <h5 class="card-text"><i class="fas fa-store"></i>住所:<%= salon.prefecture_code %><%= salon.address %></h5><hr>
                    <h5><i class="fas fa-train"></i>最寄り駅:<%= salon.station %></h5>
                </div>
        </div>
    <% end %>
</div><br><br>

<div class = "row">
	<%= link_to "もっと見る", new_user_session_path, class: "btn btn-flat-double-border btn-lg col-lg-4 offset-4" %>
</div>

