
<div class = "top-image">
<!-- <h1>美容師のライフスタイルに多様性を</h1> -->
</div><br><br>

<div class = "row">
	<h2 class = "col-md-4 offset-5">取り扱いサロン一覧</h2>
</div><br>

<!-- ランダムで4つのサロンを表示 -->
<table class="table table-striped">
  <% @salons.shuffle.first(4).each do |salon| %>
  	<tr class = "row">
  		<td class = "col-md-2 offset-2"><%= attachment_image_tag salon, :salon_image, format: 'jpg', size: "400x400" %></td>
  	
		<td class = "col-md-3 offset-2">
			<strong><%= salon.salon_name %></strong></br><br>
			<p>住所:〒<%= salon.postal_code %><%= salon.prefecture_code %><%= salon.address %></p>
			<p>最寄り駅:<%= salon.station %></p>
		</td>
	</tr>
  <% end %>
</table>

<div class = "row">
	<%= link_to "もっと見る", new_user_session_path, class: "btn btn-outline-secondary btn-lg col-md-4 offset-4" %>
</div><br>

