<div class = "title-top">
	<h2>サロン編集</h2>
</div>

<%= form_with model: @salon, url: {controller: 'owner/salons', action: 'update'}, local: true do |f| %>
 	<div class = "row-form">
 		<%= attachment_image_tag @salon, :salon_image, format: 'jpg', class: "salon-img" %><br>
 		<%= f.attachment_field :salon_image %>
 	</div><br>

 	<div class = "row-form">
 		<%= f.label :salon_name, "サロン名" %><br>
 		<%= f.text_field :salon_name, class: "col-lg-6" %>
 	</div><br>

 	<div class = "row-form">
		<%= f.label :postal_code, "郵便番号" %><br>
		<%= f.text_field :postal_code, class: "col-lg-6"  %>
 	</div><br>

 	<div class = "row-form">
 		<%= f.label :prefecture_code, "都道府県" %><br>
		<%= f.select :prefecture_code, options_for_select(Salon.prefecture_codes), {}, class: 'col-lg-6' %>
	</div><br>

 	<div class = "row-form">
		<%= f.label :address, "住所" %><br>
		<%= f.text_field :address, class: "col-lg-6" %>
	</div><br>

	<div class = "row-form">
		<%= f.label :station, "最寄駅"  %><br>
		<%= f.text_field :station, class: "col-lg-6" %>
	</div><br>

 	<div class = "row-form">
		<%= f.label :seat_number, "貸出可能席数" %><br>
		<%= f.text_field :seat_number, class: "col-lg-6" %>
	</div><br>

	<div class = "row-form">
		<%= f.label :price, "価格(1ヶ月)" %><br>
		<%= f.text_field :price, class: "col-lg-6" %>
	</div><br>

	<div class = "row-form">
		<%= f.label :explanation, "その他詳細" %><br>
		<%= f.text_area :explanation, class: "col-lg-6" %>
	</div><br>

	<div class = "row-action">
		<%= f.submit "更新する", class: "btn btn-flat-double-border col-lg-2 col-8" %>
	</div>
<% end %>