<h2>サロンを掲載する</h2>
<%= form_with model: @salon, url{controller: 'owner/salons', action: 'create'}, lacal: true do |f| %>
<% end %>
<h2>掲載中のサロン一覧</h2>

<table>
  <%= @salons.each do |salon| %>

	<tr>
		<td><%= salon.salon_name %></td>
	</tr>

	<tr>
		<td>住所:<%= salon.postal_code %><%= salon.address %></td>
	</tr>

	<tr>
		<td>値段:<%= salon.price %></td>
	</tr>

  <% end %>
</table>