<h1>掲載中のサロン一覧</h1>

<table>
  <%= @salons.each do |salon| %>

	<tr>
		<td><%= salon.salon_name %></td>
	</tr>

	<tr>
		<td>住所:<%= salon.postal_code %><%= salon.address %></td>
	</tr>

	<tr>
		<td>値段:<%= salon.price %></td>
	</tr>

  <% end %>
</table>