<div class = "row">
	<h1 class = "offset-2">サロンを掲載する</h1>
</div>

<%= form_with model: @salon, url: {controller: 'owner/salons', action: 'create'}, lacal: true do |f| %>
	<div class = "row">
		<%= f.attachment_field :salon_image, class: "offset-2" %>
	</div><br>

	<div class = "row">
		<%= f.label :salon_name, "サロン名", class: "col-md-1 offset-2" %>
		<%= f.text_field :salon_name, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :postal_code, "郵便番号", class: "col-md-1 offset-2" %>
		<%= f.text_field :postal_code, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :prefecture_code, "都道府県", class: "col-md-1 offset-2" %>
		<%= f.select :prefecture_code, options_for_select(Salon.prefecture_codes), {}, class: 'col-md-4' %>
	</div><br>

	<div class = "row">
		<%= f.label :address, "市町村", class: "col-md-1 offset-2"%>
		<%= f.text_field :address, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :station, "最寄り駅", class: "col-md-1 offset-2" %>
		<%= f.text_field :station, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :seat_number, "貸出可能席数", class: "col-md-1 offset-2" %>
		<%= f.text_field :seat_number, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :price, "価格(1ヶ月)", class: "col-md-1 offset-2" %>
		<%= f.text_field :price, class: "col-md-4" %>
	</div><br>

	<div class = "row">
		<%= f.label :explanation, "その他詳細", class: "col-md-1 offset-2" %>
		<%= f.text_area :explanation, class: "col-md-4" %>
	</div><br>

	<div class = "row">
	<%= f.submit "掲載する", class: "btn btn-flat-double-border col-md-2 offset-4" %>
	</div><br>

<% end %>

<div class = "row">
	<h1 class = "offset-2">掲載中のサロン一覧</h1>
</div>

<div class="row row-cols-1 row-cols-md-3">
  <% @salons.each do |salon| %>
      <div class="card border-dark">
        <%= attachment_image_tag salon, :salon_image, format: 'jpg', size: "400x400", class: "offset-2" %>
          <div class="card-body offset-2">
            <h3 class="card-title"><%=link_to salon.salon_name, owner_salon_path(salon) %></h3>
            <h5 class="card-text"><i class="fas fa-store"></i>住所:〒<%= salon.postal_code %><%= salon.prefecture_code %><%= salon.address %></h5>
            <h5><i class="fas fa-train"></i>最寄り駅:<%= salon.station %></h5>
            <p>値段(月極):<%= salon.price %><br>
               貸出座席数:<%= salon.seat_number %><br>
               その他:<%= salon.explanation %></p>
          </div>
      </div>
  <% end %>
</div>


