<div class = "row">
  <h1 class = "offset-3">掲載中のサロン詳細</h1>
</div>

<table>
  <div class = "row">
  	<div class = "col-md-2 offset-3"><%= attachment_image_tag @salon, :salon_image, format: 'jpg', size: "400x400" %></div>

    <div class = "col-md-4 offset-1">
		  <h3><%= @salon.salon_name %></h3>
		  <p>住所:〒<%= @salon.postal_code %><%= @salon.prefecture_code %><%= @salon.address %></p>
      <p>最寄駅:<%= @salon.station %></p>
		  <p>値段:<%= @salon.price %></p>
      <p>貸出座席数:<%= @salon.seat_number %></p>
		  <p>その他:<%= @salon.explanation %></p>
    </div>
	 </div>
</table><br>

<!-- map表示ここから -->
<div id='map' class="<%= @salon.address %>"></div>
<style>
#map{
  height: 600px;
  width: 50%;
  margin-left: 450px;
}
</style>

<script>
// mapを関数の外で定義(codeAddressでも使うため)geocoderを用意
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  // geocoder.geocode(hash, callback_fuction)
  geocoder.geocode({ 'address': $('#map').attr('class') }, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
　　　　　　　　　　　　
	  //google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;
  // geocodingしたあとmapを移動
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK4-e6C4U9nNBgu0hPvMkoB4SoRqDaRrI&callback=initMap" async defer></script><br>
<!-- map表示ここまで -->

<div class = "row">
  <%= link_to "一覧へ戻る", owner_salons_path, class: "btn btn-flat-double-border col-md-2 offset-3" %>
  <%= link_to "編集する", edit_owner_salon_path(@salon), class: "btn btn-flat-double-border col-md-2 offset-1" %>
</div>