<!DOCTYPE html>
<html>
  <head>
    <title>Space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://kit.fontawesome.com/61abcfe439.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <header class = "nav-var">
      <div class = "container">
      <nav>
        <% if user_signed_in? %>
        <ul>
        <li><%= link_to "お気に入りBOX", "#" %></li>
        <li><%= link_to "リクエスト", "#" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>

        <% elsif salon_signed_in? %>
        <ul>
        <li></li>
        <li></li>
        <li><%= link_to "ログアウト", destroy_salon_session_path, method: :delete %></li>
        </ul>

        <% else %>
        <ul class = "nav p-4">
        <li class = "nav-item mr-3"><%= link_to "SPACEとは?", about_path %></li>
        <li class = "nav-item mr-3"><%= link_to "スタイリストログイン", new_user_session_path %></li>
        <li class = "nav-item mr-3"><%= link_to "掲載者ログイン", new_salon_session_path %></li>
        <li class = "nav-item mr-3"><%= link_to "SPACEを探す", new_user_registration_path %></li>
        <li class = "nav-item mr-3"><%= link_to "掲載する", new_salon_registration_path %></li>
        </ul>
        <% end %>
      </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>yusuke kitamura.inc</p>
    </footer>

  </body>
</html>
