<!DOCTYPE html>
<html>
  <head>
    <title>Space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://kit.fontawesome.com/61abcfe439.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <header class = "nav-var">
      <div class = "container">
      <nav class = "navbar navbar-expand-lg">
        <%= image_tag 'logo7.jpg', size: '210x140' %>
        <% if user_signed_in? %>
        <ul class = "nav p-4">
        <li class = "nav-item mr-3"><%= link_to "サロン検索", "#", class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "アカウント情報", edit_user_users_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "お気に入り", user_favorites_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "予約一覧", user_reservations_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %></li>
        </ul>

        <% elsif owner_signed_in? %>
        <ul class = "nav p-4">
        <li class = "nav-item mr-3"><%= link_to "アカウント情報", edit_owner_owners_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "予約一覧", owner_reservations_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "btn btn-outline-secondary"  %></li>
        </ul>

        <% else %>
        <ul class = "nav p-4">
        <li class = "nav-item mr-3"><%= link_to "SPACEとは?", about_path, class: "btn btn-outline-secondary"  %></li>
        <li class = "nav-item mr-3"><%= link_to "スタイリストログイン", new_user_session_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "オーナーログイン", new_owner_session_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "スタイリスト登録", new_user_registration_path, class: "btn btn-outline-secondary" %></li>
        <li class = "nav-item mr-3"><%= link_to "オーナー登録", new_owner_registration_path, class: "btn btn-outline-secondary" %></li>
        </ul>
        <% end %>
      </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>yusuke kitamura.inc</p>
    </footer>

  </body>
</html>
