<div class = "row">
<h2 class = "offset-4">スタイリストアカウント登録</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row"><%= f.label :name, "名前", class: "offset-4" %></div>
  <div class="row"><%= f.text_field :name, class: "col-md-4 offset-4" %></div><br>

  <div class="row"><%= f.label :kana_name, "フリガナ", class: "offset-4" %></div>
  <div class="row"><%= f.text_field :kana_name, class: "col-md-4 offset-4" %></div><br>

  <div class="row"><%= f.label :email, "メールアドレス", class: "offset-4" %></div>
  <div class="row"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4 offset-4"  %></div><br>

  <div class="row"><%= f.label :phone_number, "電話番号", class: "offset-4" %></div>
  <div class="row"><%= f.text_field :phone_number, class: "col-md-4 offset-4", placeholder: "ハイフン不要" %></div><br>

  <div class="row">
    <%= f.label :password, "パスワード", class: "offset-4" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></div>
  <div class="row">
    <%= f.password_field :password, autocomplete: "new-password", class: "col-md-4 offset-4"  %>
  </div><br>

  <div class="row"><%= f.label :password_confirmation, "パスワード確認用", class: "offset-4" %></div>
  <div class="row"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-4 offset-4"  %></div></br>

  <div class="row-action">
    <%= f.submit "登録する", class: "col-md-4 offset-4 btn btn-flat-double-border" %>
  </div>
<% end %>


